.root {
    -fx-background-color: rgb(0, 0, 0);
}

#heyLabel {
    -fx-font-size: 25;
    -fx-alignment: center;
    -fx-text-fill: white;
}

#btn1,
#btn2 {
    -fx-font-size: 10;
    -fx-background-color: white;
    -fx-alignment: center;
    /* -fx-border-radius: 5; */
    /* margin-left: 3rem;
    transition: .5s; */
}

#btn1:hover,
#btn2:hover {
    -fx-background-color: lightblue;
    -fx-text-fill: rgb(25, 25, 77);
}